* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display:table;
    clear:both;
}

body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fsf.co.ua%2F13%2F07%2Fwallpaper-2940906.jpg&f=1&nofb=1");
}

.container {
    width: 60vw;
    margin: 0 auto;
}

header {
    height: 300px;
    margin-top: 10px;
}

.titolo {
    height: 250px;
    position:relative;
    font-size: 50px;
    text-align: center;
}

.img-titolo {
    object-fit: cover;
    height: 250px;
    width: 100%;
    border: 8px solid white;
}

.centro {
    color:white;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


nav {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #453d41;
    border: black;
    color:white;
}

li {
    display: inline;
    margin: auto 25px;
    font-family: 'Merriweather', serif;
}

/*FINE CSS HEADER */

.blocco-centrale {
    margin-top: 10px;
    height: 600px;
}

.laterale {
    float: left;
    width: 20%;
    height: 100%;
}

main {
    width: 60%;
    height:100%;
    float:left;
    padding: 0 30px;
    text-align: center;
}

.contenuto {
    padding: 15px 20px;
    border-radius: 2%;
    background-color: white;
}

 p {
    text-align: justify;
    line-height: 1.0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

h3 {
    text-align: center;
    font-family: 'Merriweather', serif;
}
.elemento {
    background-color: white;
    border-radius: 2%;
    padding: 15px 5px;
    margin-bottom: 15px;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: blue;
}
.link p {
    text-align: left;
}
/* FINE CSS ASIDE-MAIN */

footer {
    margin-top:20px;
    height: 100px;
    background-color: white;
    border-radius: 2%;
    text-align: center;

}

.footer-icone{
    height: 90%;
    line-height: 90px;
}

.icona {
    display:inline;
    float:left;
    width: 33%;
}
